@font-face {
  font-family: "Roboto-Regular";
  src: url("../../content/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../../content/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../content/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../content/fonts/Roboto-Medium.ttf");
}
