@import "styles/sass/main";

.OrderPoint {
  position: relative;
  width: 100%;
  @include flex(space-between, flex-end);
  font: 300 14px/16px $roboto-light;
  color: $gray;

  @media (max-width: $md) {
    font-size: 16px;
    line-height: 18px;
  }

  &__title {
    display: inline-block;
    color: $black;
    white-space: nowrap;
  }

  &__dots {
    margin: 0 12px;
    flex: 1 750px;
    border-bottom: 2px dotted $gray;
  }

  &__value {
    text-align: right;

    &_no-wrap {
      white-space: nowrap;
    }
  }
}
