@import "../../sass/main";

.MainLayout {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: $min-height;
  @include flex;
  overflow-x: hidden;

  @media (max-width: $md) {
    min-height: 400px;
  }

  &__content {
    width: calc(100% - 64px);
    height: 100%;

    @media (max-width: $md) {
      width: 100%;
    }
  }
}
